@model web.Models.Cart


<li> <a class="totalInCart" href="/Cart/Index"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">toplam tutar  </font></font></font></font><span class="badge badge-warning pull-right" style="line-height:18px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> @Model.Total().ToString("c")</font></font></font></font></span></strong></a></li>
