@model web.Models.Cart

<a href="/Cart/Index"><span class="icon-shopping-cart"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">[@Model.cartLines.Count]</font></font><span class="badge badge-warning"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Model.Total().ToString("c")</font></font></span></a>