@using web.Models
@model IEnumerable<OrderDetails>
@{
    ViewBag.Title = "Konum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_CategoryList", "Categoryy")
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary", "Cart")
            </ul>
        </div>
        <br>
        @Html.Action("_FeaturedProductList", "Home")

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ana Sayfa </font></font></a> <span class="divider"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">/</font></font></span></li>
            <li class="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Adres Bilgileri</font></font></li>
        </ul>
        <div class="well well-small">
            <div class="row-fluid">

                <div span="12px" style="text-align:center">
                    <h4> <strong>Adres : karabeikir mahallesi 1001 sokak </strong> </h4>

                    <h4><strong style="color:red"> Telefon : 05458150649</strong></h4>
                </div>
            </div>
            <hr class="softn clr">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6018.160107220522!2d28.869384175298094!3d41.04537841718789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabab984ec512f%3A0xba4d46077f7b9668!2sKaz%C4%B1m%20Karabekir%2C%2034225%20Esenler%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1665498133220!5m2!1str!2str" width="685" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



        </div>
    </div>
</div>

