@using web.Entitys
@model IEnumerable<Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="well well-small">
    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bizim ürünlerimiz</font></font></h3>




    <div class="row-fluid">
        <ul class="thumbnails">


            @*//yönlendirmeye bakkk.....*@
            @foreach (var item in Model)
            {
                <li class="span4">
                    <div class="thumbnail">
                        <a href="/Home/ProductDetails.cshtml/@item.Id" class="overlay"></a>
                        @*<a class="zoomTool" href="~/Views/Home/ProductDetails.cshtml/@item.Id" title="Sepete ekle" style="display: none;"><span class="icon-search"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">HIZLI GÖRÜNÜM</font></font></a>*@
                        <a href="product_details.html"><img src="~/Content/image/@item.İmage" style="max-width:207px; max-height:206px; min-height:206px;" alt=""></a>
                        <div class="caption cntr">
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Name</font></font></p>
                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Price ₺</font></font></strong></p>
                            <h4><a class="shopBtn" href="/Home/ProductDetails/@item.Id" title="Sepete ekle"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Görüntüle</font></font></a></h4>

                            <br class="clr">
                        </div>
                    </div>
                </li>

            }


        </ul>
    </div>


</div>
