@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class="navbar - search pull - left" }))

{
    <input type="text"name="q" placeholder="Arama" class="search-query span2">
    <button type="submit" >Arama</button>

}