

<ul class="nav pull-right">
    @if (Request.IsAuthenticated)
    {
        if (this.User.IsInRole("admin"))
        {
            <li> <a href="/Productt/Index" target="_blank"><span class="icon-user"></span>Admin Paneli</a></li>
            <li> <a href="/Account/UserProfil" target="_blank"><span class="icon-edit"></span>Profilim</a></li>
            <li> <a href="/Account/Index">@User.Identity.Name</a></li>
            <li class="label-warning"> <a href="/Account/LogOut" style="color:blue" target="_blank"><span class="icon-remove"></span>Çıkış</a></li>
        }
        else
        {
            <li> <a href="/Account/UserProfil" target="_blank"><span class="icon-edit"></span>Profilim</a></li>
            <li> <a href="/Account/Index">@User.Identity.Name</a></li>
            <li class="label-warning"> <a href="/Account/LogOut" style="color:blue" target="_blank"><span class="icon-remove"></span>Çıkış</a></li>

        }
    }
    else
    {
        <li class="label-warning"> <a href="/Account/Register" style="color:white" target="_blank"><span class="icon-edit"></span>Kayıt ol</a></li>
        <li class="label-success"> <a href="/Account/Login" style="color:white" target="_blank"><span class="icon-user"></span>Giriş</a></li>
    }
</ul>
